# このファイルを local.nix にコピーしてマシン固有の設定を記述します:
#   cp local.nix.example local.nix
#
# local.nix は .gitignore で除外されるためリポジトリに含まれません。
{
  # ホームディレクトリのパスはマシンによって異なるため local.nix で指定
  #   研究サーバ: /mnt/data1/tomoya-n
  #   Mac:        /Users/tomoya-n
  home.homeDirectory = "/path/to/home";
}
